div.modal {
    border: 1px solid black;
    border-radius: 8px;
}

div.item-modal form{
    display: flex;
    flex-direction: column;
}


div.priority-property,
input[type="date"],
div.time-picker,
div.project-picker {
    width: fit-content;
    height: fit-content;
    border: 1px solid black;
    border-radius: 8px;
}


div.props-container {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 16px;
}

div.priority {
    background-color: red;
    -webkit-mask-image: url("../../assets/icons/flag.svg");
    mask-image: url("../../assets/icons/flag.svg");
  }