div.task-card-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 100px;
}

div.task-card {
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-rows: 75px;
  gap: 8px;
  border-bottom: 0.5px solid var(--color-border-task);
}

div.task-card:first-child {
    border-top: 0.5px solid var(--color-border-task);
}

div.task-checkbox {
  grid-area: 1 / 1 / 2 / 2;
}
div.task-short-info {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
  padding: 0px;
}
div.task-info {
  display: flex;
  flex-direction: column;
  padding: 0px;
  max-width: 50ch;
}

span.task-due {
  font-size: 0.75rem;
  padding: 0px;
  color: var(--color-font-task-due);
}
span.task-due.overdue {
  color: var(--color-font-task-overdue);
}

span.task-title {
  padding: 0px;
  max-width: 20ch;
}

div.task-card.completed {
    text-decoration: line-through;
}

div.icon.task-checkbox {
  padding: 0;
  height: 50px;
  width: 50px;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 10px;
}

div.task-checkbox.icon input {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: #fff;
  /* Not removed via appearance */
  margin: 0;
  padding: 0;
  font: inherit;
  color: currentColor;
  width: 25px;
  height: 25px;
  border: 0.5px solid currentColor;
  border-radius: 50%;
}

div.task-checkbox.icon input:checked {
  animation-duration: 0.3s;
  animation-name: grow;
  background-image: url("../../assets/icons/check-circle.svg");
}



div.add-project-task-container{
    display: flex;
    align-items: center;
    gap: 16px;
    padding-left: 32px;
}

div.add-project-task-container  {
    color: var( --color-font-add-project-task);
}


div.add-project-task {
    background-image: url("../../assets/icons/plus.svg");
    transform: scale(1.5);
    display: inline-block;
}

div.task-checkbox.icon input:hover {
    transform: scale(1.1);
}

div.task-action {
    display: flex;
    gap: 32px;
    width: fit-content;
}

div.task-action div.icon {
    transform: scale(1.5);
}

div.task-action div.icon:hover {
    transform: scale(2.0);
}


div.icon.delete {
    background-image: url("../../assets/icons/trash-can-outline.svg");
}
div.icon.edit {
    background-image: url("../../assets/icons/file-edit-outline.svg");
}
div.icon.view {
    background-image: url("../../assets/icons/magnify-scan.svg");
}

@keyframes grow {
  from {
    scale: 0%;
  }

  to {
    scale: 100%;
  }
}
